.root{
    
    -fx-background-color: linear-gradient(to left, rgba(77, 117, 0,0.9), rgba(122, 87, 51,0.9));
     -fx-text-fill:rgb(255, 224, 177);
    
}

.button{
    -fx-background-color:rgba(138, 125, 106,0.6);
    -fx-text-fill:rgb(12, 15, 5);
    -fx-background-radius: 4;
    -fx-border-style:solid;
    -fx-border-radius:4;
    -fx-border-color:rgb(101, 72, 33 );
}
.button:hover{
    -fx-background-color:rgba(101, 78, 33,0.6);
    -fx-text-fill:rgb(73, 54, 16);
    -fx-background-radius: 6;
    -fx-cursor:hand;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(to bottom, rgba(169, 186, 92, 0.6),rgba(111, 120, 70, 0.6));
    -fx-text-fill: white;
}


.list-cell:filled:hover {
    -fx-background-color:rgb(97, 91, 78);
    -fx-text-fill: white;
}

.list-cell{
    -fx-background-color: transparent;
     -fx-background-radius: 6px;
}
.list-view{
    -fx-background-color: transparent;
     -fx-background-radius: 6px;
}


.scroll-pane > .corner{
    -fx-background-color: black;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: rgba(169, 186, 92, 0.6);
    -fx-background-radius: 5em;
}

.label {
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
    
}

#order{
    -fx-background-color: linear-gradient(to left, rgba(77, 117, 0,0.5), rgba(122, 87, 51,0.5));
}
scroll-pane{
    
    -fx-background-color: linear-gradient(to left, rgba(77, 117, 0,0.5), rgba(122, 87, 51,0.5));

}

.split-pane{
    
    -fx-background-color:transparent;
    -fx-background-radius: 6px;
}
