.root{
    
    -fx-background-color: linear-gradient(to right, rgba(77, 117, 0,0.9), rgba(122, 87, 51,0.9));
    -fx-text-fill:rgb(255, 224, 177);
}
.button{
    -fx-background-color:rgba(138, 125, 106,0.6);
    -fx-text-fill:rgb(12, 15, 5);
    -fx-background-radius: 4;
    -fx-border-style:solid;
    -fx-border-radius:4;
    -fx-border-color:rgb(101, 72, 33 );
}
.button:hover{
    -fx-background-color:rgba(101, 78, 33,0.6);
    -fx-text-fill:rgb(73, 54, 16);
    -fx-background-radius: 6;
    -fx-cursor:hand;
}


.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, rgba(18, 26, 1,0.9), rgba(70, 83, 41,0.9));
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
   -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}


.table-view .table-cell{
    -fx-text-fill: white;
    
}
.table-view{
-fx-border-color: rgb(133, 96, 26);}

.table-view .table-cell:focused{
    -fx-text-fill: white;
}

.table-row-cell{
   
    -fx-background-color:transparent;
    -fx-background-radius: 6px;
    -fx-border-color: darkkhaki; 
    -fx-table-cell-border-color:darkkhaki;
}


.table-row-cell:hover{
    -fx-background-color: rgb(97, 91, 78);
    -fx-text-fill: white;
    
}

.table-row-cell:focused:selected {
    -fx-background-color: linear-gradient(to bottom, rgba(169, 186, 92, 0.6),rgba(111, 120, 70, 0.6));
    -fx-text-fill: white;
}